h1 {
	text-shadow: 1px 1px #FF0000;
}

table {
	border: 1px solid silver;
}

td:hover {
	background-color: yellow;
	color: black;
}

tr, th {
	background-color: black;
	color: cornsilk;
}

tr, td {
	background-color: darkgreen;
	color: white;
}

ol {
	list-style-type: upper-roman;
}

ul {
	list-style-type: lower-latin;
}